# Node.js
**/node_modules/
dist/
.env

# Python
**/__pycache__/
**.pyc
.venv/
env/

# Docker & OS
.DS_Store
*.log
docker/*.db

# Databases & local configs
*.db
src/backend/*.db
local_scheduler.db
test.db

# Generated PDFs
*.pdf
src/backend/*.pdf
src/backend/horario_ciclo_*.pdf

